.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin-right: 6px;
    background: #E3E4EA;
    border-radius: 50%;
    display: inline-block;
    transition: 0.5ss ease;
}

.active-dot {
    background: #FC9A8D;
}

.dots-container {
    margin-top: 32px;
    text-align: center;
    width: 76.5%;
}