.background {
    margin-top: -5.87vh;
    height: 185.27851458885942vh;
    background-image: linear-gradient(white, rgba(239,240,246,1));
}

.how-works {
    padding: 0 2.5vw;
    margin: 0 11.03vw;
}