.sign-buttons {    
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 4.244vh;
}

.sign-up {
    background-color: #FC9A8D;
    font-size: 1.25rem;
    color: white;
    padding: 1.4588vh 1.0702vw;
    border: none;
    margin-right: 1.25vw;
}

.sign-in {
    background-color: white;
    font-size: 1.25rem;
    padding: 1.4588vh 1.0702vw;
    border: none;
}