.projects {
    padding: 0 2.5vw;
    margin: 0 11.03vw;
    padding-top: 16vh;
    min-height: 120vh;
}

.proj-background {
    margin-top: -100px;
    background-image: linear-gradient(rgba(239,240,246,1), white);
    height: 128.5vh;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.expand-button {
    margin-top: 4.244vh;
    text-align: center;
    width: 76.5%;
}