.footer {
    padding: 8.6vh 17.3vw;
    display: flex;
    flex-direction: row;
}

.lists {
    margin-left: 10.367vw;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer-link {
    margin-right: 2.15vw;
}

.footer-link a {
    text-decoration: none;
    color: #828195;
}